{% load i18n %}

{% if player_formset %}

<div class="inline-group">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
{{ player_formset.management_form }}
<fieldset class="module">
   <h2>Players</h2>
   <table>
     <thead><tr>
         <th>Name</th>
         <th>Number</th>
     </tr></thead>

     <tbody>
     {% for player_form in player_formset.forms %}
        {% if form.non_field_errors %}
          <tr><td colspan="{{ player_form.field_count }}">{{ player_form.non_field_errors }}</td></tr>
        {% endif %}

        <tr class="{% cycle row1,row2 %} {% if player_form.original or player_form.show_url %}has_original{% endif %}">

        <td class="player">
	  {{ player_form.player }}
	</td>
        
        {% for field in player_form %}
          <td class="{{ field.name }}">
            {{ field.errors.as_ul }}
            {{ field }}
          </td>
        {% endfor %}

        </tr>

     {% endfor %}
     </tbody>
   </table>

  {# <p><a href="/admin/stats/player/add/">Add player</a></p> #}

</fieldset>
  </div>

  {# <ul class="tools"> #}
  {#   <li><a class="add" href="">Add another {{ player_formset.opts.verbose_name|title }}</a></li> #}
  {# </ul> #}

</div>

{% endif %}
