<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  {% block head %}
  {% endblock %} 
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}style.css" />
    <title>{{ team_name }}</title>
</head>

<body>
  <header>
    {% block header %}
    {% endblock %}
  </header>
  <nav>
    {% block nav %}
      <a href="{% url teamstats.views.index %}">[Etusivu]</a>
      <a href="{% url teamstats.views.show_all_players %}">[Pelaajat]</a> 
      {% for season in season_list %}
	<a href="{% url teamstats.views.show_season season.id %}">[{{ season }}]</a>
      {% endfor %}
    {% endblock %}
  </nav>
  <section>
    {% block content %}
    {% endblock %}
  </section>
  <aside>
    {% block aside %}
    {% endblock %}
  </aside>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
</body>
</html>
