<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  {% block header %}
  {% endblock %} 
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}style.css" />
    <title>Team Name</title>
</head>

<body>
  <div id="sidebar">
    {% block sidebar %}
      <a href="{% url teamstats.views.index %}">[Etusivu]</a>
      <a href="{% url teamstats.views.show_all_players %}">[Pelaajat]</a> 
      {% for season in season_list %}
	<a href="{% url teamstats.views.show_season season.id %}">[{{ season }}]</a>
      {% endfor %}
    {% endblock %}
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
