    <br />
    <a href="{% url teamstats.views.show_season match.season.id %}">{{ match.season }}</a>
    <h1>
        {% if match.home %}
            {{ team_name }} - {{ match.opponent }}
            {% if match.played %}
	        {{ match.goals }} - {{ match.opponent_goals }}
	    {% endif %}
	{% else %}
	    {{ match.opponent }} - {{ team_name }}
            {% if match.played %}
	        {{ match.opponent_goals }} - {{ match.goals }}
	    {% endif %}
	{% endif %}
    </h1>
    <p>{{ match.date|date:"l j.n.Y G:i"|capfirst }}</p>
    <p>{{ match.field }}</p>
    {% if match.comment %}
        <p>Kommentti: {{ match.comment }}</p>
    {% endif %}

