{% extends "base_season.html" %}

{% block content %}

{% if match %}
	    {{ match.opponent_goals }}
    <h1>
        {% if match.home %}
            FC Tuhlaajapojat - {{ match.opponent }}
            {% if match.opponent_goals %}
	        {{ match.goals }} - {{ match.opponent_goals }}
	    {% endif %}
	{% else %}
	    {{ match.opponent }} - FC Tuhlaajapojat
            {% if match.opponent_goals %}
	        {{ match.opponent_goals }} - {{ match.goals }}
	    {% endif %}
	{% endif %}
    </h1>
    <p>
        {{ match.date|date:"l j.n.Y G:i"|capfirst }}
    </p>
{% else %}
    <p>Ottelua ei löytynyt.</p>
{% endif %}


{% endblock %}
