<form action="" class="form-inline" name="form-{{ id }}" method="post">
  {% csrf_token %}
  <td id="edit-{{ id }}">
    <input type="button" class="input-small" id="edit_button-{{ id }}"
           onclick="javascript:editChoice({{ id }})"
           value="Ilmoittaudu" />
  </td>
  <td id="fields-{{ id }}" visibility="false">
    <span class="choice1 help-inline">
      <label for="in_radio-{{ id }}" class="radio inline">
        <input type="radio" class="input-small" id="in_radio-{{ id }}"
             name="choice" value="{{ id }}-1"
             disabled="true" checked />
        IN
      </label>
    </span>
    <span class="choice2 help-inline">
      <label for="out_radio-{{ id }}" class="radio inline">
        <input type="radio" class="input-small" id="out_radio-{{ id }}"
             name="choice" value="{{ id }}-2"
             disabled="true" />
        OUT
      </label>
    </span>
    <span class="choice3 help-inline">
      <label for="na_radio-{{ id }}" class="radio inline">
        <input type="radio" class="input-small" id="na_radio-{{ id }}"
             name="choice" value="{{ id }}-3"
             disabled="true" />
        ?
      </label>
    </span>
    <input type="submit" class="input-small" id="save_button-{{ id }}"
           value="Tallenna" />

    <input type="button" class="input-small" id="cancel_button-{{ id }}"
           onclick="javascript:cancelChoice({{ id }})"
           value="Peruuta" />
  </td>
</form>
