
<script type="text/javascript" src="tablesort.js"></script>

<script language="javascript">
  choice = new Array();
  {% for player in players %}
  choice[{{ forloop.counter0 }}] = {{ player.choice }};
  {% endfor %}
</script>

{% include "registration_functions.html" %}

<table>
  <thead>
    <tr>
      <th class="stringdesc" align="center">
        in/out
      </th>
      <th class="numericasc" align="center">
        #
      </th>
      <th class="stringasc" align="left">
        Nimi
      </th>
      <th />
      <th />
    </tr>
  </thead>
  <tbody>

    {% for player in players %}
    <tr>
      <td class="choice{{ player.choice }}" align="center">
        {% ifequal player.choice 1 %}IN{% endifequal %}
        {% ifequal player.choice 2 %}OUT{% endifequal %}
        {% ifequal player.choice 3 %}?{% endifequal %}
      </td>
      <td class="choice{{ player.choice }}" align="center">
        {{ player.number }}
      </td>
      <td class="choice{{ player.choice }}">
        <a href="{% url teamstats.views.show_player player.player.id %}">{{ player.player }}</a>
      </td>
      {% with player.id as id %}
      {% with player.choice as choice %}
      {% include "registration_buttons.html" %}
      {% endwith %}
      {% endwith %}
    </tr>
    {% endfor %}
  </tbody>
</table>

