{% extends "teamstats/base_season.html" %}

{% block content %}

  <h1>{{ season }}</h1>

  {% if season.description %}
    <p>
    {{ season.description }}
    </p>
  {% endif %}
  {% if season.url %}
    <p>
    <a href="{{ season.url }}">Sarjan kotisivut</a>
    </p>
  {% endif %}
  {% if season.comment %}
    <p>Kommentti: {{ season.comment }}</p>
  {% endif %}

  <h2>Pelaajat</h2>
    {% include "teamstats/table.html" %}

  <h2>Ottelut</h2>
  {% include "teamstats/list_matches.html" %}

{% endblock %}
