{% extends "teamstats/base_season.html" %}

{% block content %}

<h1>
  {{ player.firstname }} {{ player.lastname }}
</h1>

<h2>
  Pistetilasto
</h2>

{% load static %}
<script type="text/javascript" src="{% get_static_prefix %}js/tablesort.js"></script> 

<table>
  <thead>
    <tr>
      <th class="stringasc left">
        Kausi
      </th>
      <th class="numericdesc center">
        Ottelut
      </th>
      <th class="numericdesc center">
        Maalit
      </th>
      <th class="numericdesc center">
        Syötöt
      </th>
      <th class="numericdesc center">
        Pisteet
      </th>
      <th class="numericdesc center">
        PPG
      </th>
    </tr>
  </thead>

  <tbody>
    {% for seasonplayer in seasonplayer_list %}
      <tr>
        <td class="left">
          <a href="{% url 'show_season' seasonplayer.season.id %}">
            {{ seasonplayer.season }}
          </a>
        </td>
        <td class="center">
          {{ seasonplayer.games }}
        </td>
        <td class="center">
          {{ seasonplayer.goals }}
        </td>
        <td class="center">
          {{ seasonplayer.assists }}
        </td>
        <td class="center">
          {{ seasonplayer.points }}
        </td>
        <td class="center">
          {{ seasonplayer.ppg|floatformat:2 }}
        </td>
      </tr>
    {% endfor %}
  </tbody>

  <tfoot>
    <tr>
      <td class="left">
        Yhteensä
      </td>
      <td class="center">
        {{ player.games }}
      </td>
      <td class="center">
        {{ player.goals }}
      </td>
      <td class="center">
        {{ player.assists }}
      </td>
      <td class="center">
        {{ player.points }}
      </td>
      <td class="center">
        {{ player.ppg|floatformat:2 }}
      </td>
    </tr>
  </tfoot>

</table>

{# LIST OF MATCHES #}

{% if seasonplayer_list %}

<script language="javascript">
 choice = {}
 {% for match in match_list %}
 {% if not match.result %}
 choice["{{ match.id }}"] =
 {% if match.player_enrolled == True %}
 1
 {% elif match.player_enrolled == False %}
 2
 {% else %}
 3
 {% endif %}
 ;
 {% endif %}
 {% endfor %}
</script>

  {% include "teamstats/registration_functions.html" %}

  {% regroup match_list by season as season_list %}
  {% for season in season_list %}
  <h2>
      <a href="{% url 'show_season' season.grouper.id %}">
          {{ season.grouper }}
      </a>
  </h2>
  <table>
      {% for match in season.list %}
      <tr>
  	      <td class="center">
              {{ match.date|date:"D"|lower }}
          </td>
	        <td class="right">
              {{ match.date|date:"j.n." }}
          </td>
	        <td class="left">
              {{ match.date|date:"G:i" }}
          </td>
	        <td class="center">
              <a href="{% url 'show_match' match.id %}">
                  {{ match.opponent }}
              </a>
          </td>
	        {% if match.result %}
	        <td class="right">
              {{ match.goals }}
          </td>
	        <td>
              -
          </td>
	        <td class="left">
              {{ match.opponent_goals }}
          </td>
	        <td class="right">
              ({{ match.player_goals }}
          </td>
	        <td>
              +
          </td>
	        <td class="left">
              {{ match.player_assists }})
          </td>
          <td></td>
          <td></td>
          <td></td>
	        {% else %}
  	      <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          {% if match.player_enrolled == True %}
          <td class="choice1">IN</td>
          {% elif match.player_enrolled == False %}
          <td class="choice2">OUT</td>
          {% else %}
          <td class="choice3">?</td>
          {% endif %}
          <td>
              {% with match.id as id %}
              {% include "teamstats/registration_buttons.html" %}
              {% endwith %}
          </td>
          {% endif %}
      </tr>
      {% endfor %}
  </table>
  {% endfor %}

{% endif %}

{% endblock %}
