{% extends "teamstats/base_season.html" %}

{% block content %}

  <h1>
    {% if season.league.description %}
      {{ season.league.description }} ({{ season.league }}) {{ season.year }}
    {% else %}
      {{ season.league }} {{ season.year }}
    {% endif %}
  </h1>
  {% if season.url %}
    <p>
    <a href="{{ season.url }}">Sarjan kotisivut</a>
    </p>
  {% endif %}
  {% if season.comment %}
    <p>Kommentti: {{ season.comment }}</p>
  {% endif %}

  {# SHOW PLAYER STATS #}

  <h2>
    Pelaajat
  </h2>

  {% load static %}
  <script type="text/javascript" src="{% get_static_prefix %}tablesort.js"></script> 

  <table>

    <thead>
      <tr>
        <th class="numericasc right">
          #
        </th>
        <th class="stringasc left">
          Nimi
        </th>
        <th class="numericdesc center">
          Ottelut
        </th>
        <th class="numericdesc center">
          Maalit
        </th>
        <th class="numericdesc center">
          Syötöt
        </th>
        <th class="numericdesc center">
          Pisteet
        </th>
        <th class="numericdesc center">
          PPG
        </th>
      </tr>
    </thead>

    <tbody>
      {% for player in player_list %}
        <tr>
	  <td class="right">
            {{ player.number }}
          </td>
	  <td class="left">
            <a href="{% url teamstats.views.show_player player.player.id %}">
              {{ player.player }}
            </a>
          </td>
	  <td class="center">
            {{ player.games }}
          </td>
	  <td class="center">
            {{ player.goals }}
          </td>
	  <td class="center">
            {{ player.assists }}
          </td>
	  <td class="center">
            {{ player.points }}
          </td>
	  <td class="center">
            {{ player.ppg|floatformat:2 }}
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

  {# SHOW MATCHES #}

  <h2>
    Ottelut
  </h2>

  {% if match_list %}
    <table>
      {% for match in match_list %}
        <tr>
	  <td class="center">
            {{ match.date|date:"D"|lower }}
          </td>
	  <td class="right">
            {{ match.date|date:"j.n." }}
          </td>
	  <td class="left">
            {{ match.date|date:"G:i" }}
          </td>
	  <td class="center">
            <a href="{% url teamstats.views.show_match match.id %}">
              {{ match.opponent }}
            </a>
          </td>
	  {% if match.result %}
	    <td class="right">
              {{ match.goals }}
            </td>
	    <td>
              -
            </td>
	    <td class="left">
              {{ match.opponent_goals }}
            </td>
	  {% else %}
	    <td></td>
            <td></td>
            <td></td>
	  {% endif %}

          {% if not match.result %}
          <td class="registrations">
            <span class="choice1">
              IN ({{ match.in_players|length }}):
              {% for player in match.in_players %}
                <a href="{% url teamstats.views.show_player player.player.player.id %}">
                  {{ player.player.player.shortname }}
                </a>
              {% endfor %}
            </span>
            <span class="choice2">
              OUT ({{ match.out_players|length }}):
              {% for player in match.out_players %}
                <a href="{% url teamstats.views.show_player player.player.player.id %}">
                  {{ player.player.player.shortname }}
                </a>
                {% endfor %}
            </span>
            <span class="choice3">
              ? ({{ match.unknown_players|length }}):
              {% for player in match.unknown_players %}
                <a href="{% url teamstats.views.show_player player.player.id %}">
                  {{ player.player.shortname }}
                </a>
              {% endfor %}
            </span>
          </td>
        {% endif %}        
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% endblock %}
