<script type="text/javascript" src="http://nipsu.dyndns.org/tuhlaajapojat-media/jquery-1.6.2.js"></script> 
<script type="text/javascript" src="http://nipsu.dyndns.org/tuhlaajapojat-media/jquery.tablesorter.js"></script>

<script type="text/javascript">
  $(document).ready(
    function() 
    { 
      {% if table_default_sort %}
        $("#sortTable").tablesorter({sortMultiSortKey: 'shiftKey', sortList: [[{{ table_default_sort.column }},{{table_default_sort.descending }}]]}); 
      {% else %}
        $("#sortTable").tablesorter({sortMultiSortKey: 'shiftKey'}); 
      {% endif %}

      {% for header in table_headers %}
        $("#trigger-{{ forloop.counter0 }}").click(function() { 
          var sorting = [
          {% if header.descending %}
            [{{ forloop.counter0 }},1]
          {% else %}
            [{{ forloop.counter0 }},0]
          {% endif %}
          ]
          $("table").trigger("sorton",[sorting]); 
          return false; 
        }); 
      {% endfor %}

    } 
  ); 
</script>

<table class="tablesorter" id="sortTable">
  <thead>
    <tr>
      {% for header in table_headers %}
        {% if header.align %}
          <th align="{{ header.align }}">
        {% else %}
          <th>
        {% endif %}
        <a href="#" id="trigger-{{ forloop.counter0 }}">{{ header.field }}</a>
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in table_rows %}
      <tr class="{% cycle odd even %}">
	{% for element in row %}
	  {% if element.align %}
	    <td align="{{ element.align }}">
	  {% else %}
	    <td>
	  {% endif %}
	  {% if element.link %}
	    <!-- This comment fixes sorting: {{ element.field }} --><a href="{{ element.link }}">{{ element.field }}</a></td>
	  {% else %}
	    {{ element.field }}</td>
	  {% endif %}
	{% endfor %}
      </tr>
    {% endfor %}
  </tbody>
  {% if table_footers %}
    <tfoot>
      <tr>
        {% for footer in table_footers %}
	  {% if footer.align %}
	    <td align="{{ footer.align }}">
	  {% else %}
	    <td>
	  {% endif %}
	  {{ footer.field }}</td>
        {% endfor %}
      </tr>
    </tfoot>
  {% endif %}
</table>

