<script type="text/javascript">

  function disableFields(player, disable)
  { 
    if (player < 0) {
      var start = 0;
      var end = choice.length;
    } 
    else {
      var start = player;
      var end = player + 1;
    }
    for (player = start; player < end; player = player + 1) {
      document.getElementById('edit_button-'+player).disabled = !disable;
      document.getElementById('save_button-'+player).disabled = disable;
      document.getElementById('cancel_button-'+player).disabled = disable;
      document.getElementById('in_radio-'+player).disabled = disable;
      document.getElementById('out_radio-'+player).disabled = disable;
      document.getElementById('na_radio-'+player).disabled = disable;
      if (disable) {
        document.getElementById('fields-'+player).style.visibility = 'hidden';
        document.getElementById('edit-'+player).style.visibility = 'visible';
      }
      else {
        document.getElementById('edit-'+player).style.visibility = 'hidden';
        document.getElementById('fields-'+player).style.visibility = 'visible';
      }
    }
  }

  function editChoice(player)
  { 
    cancelChoice(-1);
    //disableFields(-1, true);
    disableFields(player, false);
  }
  
  function saveChoice(player)
  {
    disableFields(player, true);
    if (document.getElementById('in_radio-'+player).checked) {
      document.getElementById('name-'+player).class = 'choice1';
      choice[player] = 1;
    }
    if (document.getElementById('out_radio-'+player).checked) {
      document.getElementById('name-'+player).class = 'choice2';
      choice[player] = 2;
    }
    if (document.getElementById('na_radio-'+player).checked) {
      document.getElementById('name-'+player).class = 'choice3';
      choice[player] = 3;
    }
  }

  function cancelChoice(player)
  { 
    if (player < 0) {
      var start = 0;
      var end = choice.length;
    }
    else {
      var start = player;
      var end = player + 1;
    }
    for (player = start; player < end; player = player + 1) {
      if (choice[player] == 1) {
        document.getElementById('in_radio-'+player).checked = true;
      }
      if (choice[player] == 2) {
        document.getElementById('out_radio-'+player).checked = true;
      }
      if (choice[player] == 3) {
        document.getElementById('na_radio-'+player).checked = true;
      }
      disableFields(player, true);
    }
  }
  window.onload = function(){disableFields(-1, true)};

  index = 0;

</script>
